h1 {color: rgb(170, 22, 228);
}
#ele é ele {width: 50%;
}
#ele é ele  {margin-left: 20%;
}
#kevin {width: 40%;
}
he {color: rgb(88, 202, 78);
}
h2 {font-size:300% ;
}
h1{font-size:350% ;
}
h1 {text-align: center;}
